
body{
  background-color: hsl(229, 57%, 11%);
  background-size: 100% 540px;
    background-image:url('images/bg-desktop.png');
  background-repeat: no-repeat;
  background-position: bottom;
  width: 1920px;
  height: 1080px;
}
html{
  width: 1920px;
  height: 1080px;
}
.grid-container{


}
#left{
  width: 460px;
  height: 270px;
  background-color: hsl(228, 56%, 26%);
margin-top: 410px;
margin-left: 342px;
border-radius: 1rem;
border-top-right-radius: 120px;
align-items: center;

}
.top{
  height: 45%;
  width: 100%;
  display: flex;
}
.bottom{
  height: 55%;
  width: 100%;
  display: flex;
  align-items: center;
    margin-left: 44px;
}
.logo{
  margin-left: 55px;
  width: 180px;
  height: 55px;
  margin-top: 55px;
}
.btm-img{
  width: 30px;
  height: 30px;
  padding: 16px;
  margin: 12px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
}
